@using Microsoft.AspNet.Identity;
@using YMB.Extensions;
@{
    ViewBag.Title = "GenerateUserScores";
}

<h2 class="center-text ymb-yellow-text-and-shadow">Generate User Scores</h2>&laquo;@Html.ActionLink("Back to Admin", "Index", "Admin")

<form method="post" action="~/FootballPoolAdmin/GenerateUserScores">
    @Html.Partial("_WeekDropDown")
</form>

<script type="text/javascript">
$(document).ready(function () {
    setWeekDropDown();
});

function setWeekDropDown() {
    var weekValue = 5;
   $("#weekId option[value="+ weekValue +"]").prop('selected', true);
}

</script>