<div class="img-slider-containter">
    <div class="img-slider">
        <div class="div-in-slider">
            <img src="~/images/beer-comp.jpg" alt="chilling process" class="img-responsive img-in-slider img-thumbnail" style="" />
            <div class="text-center">Competition!</div>
        </div>
        <div class="div-in-slider">
            <img src="~/images/brewery_overview.png" alt="overview1" class="img-responsive img-in-slider img-thumbnail" />
            <div class="text-center">Yellow Mutt Brewery with the inspiration himself.</div>
        </div>
        <div class="div-in-slider">
            <img src="~/images/brewery_overview2.png" alt="overview2" class="img-responsive img-in-slider img-thumbnail" />
            <div class="text-center">The mashing process.</div>
        </div>
        <div class="div-in-slider">
            <img src="~/images/boil.png" alt="boil" class="img-responsive img-in-slider img-thumbnail" />
            <div class="text-center">Boiling the sweet wort</div>
        </div>
        <div class="div-in-slider">
            <img src="~/images/chilling.png" alt="chilling process" class="img-responsive img-in-slider img-thumbnail" />
            <div class="text-center">Wort needs to be chilled to ~68-72&deg;F (can vary depending on yeast straing) and placed in the fermenter as fast as possible to improve clarity and avoid possible infection.</div>
        </div>
        <div class="div-in-slider">
            <img src="~/images/fermenting.png" alt="chilling process" class="img-responsive img-in-slider img-thumbnail" />
            <div class="text-center">Sweet wort fermenting away and will soon become BEER!</div>
        </div>
        <div class="div-in-slider">
            <img src="~/images/hopback2.png" alt="hop back" class="img-responsive img-in-slider img-thumbnail" />
            <div class="text-center">This is a hop back. Designed to encapture more hop aroma for IPAs. Wort flows over hops as it is circulated through the chilling system and into the fermenter. Less votile oils are lost as they are not being boiled yet the temperature of the hot wort is high enough to extract the oils where the aroma and delicious hop flavors come from.</div>
        </div>
    </div>
</div>