<div class="row">
    <div class="col-md-3">
        <video width="300" controls muted>
            <source src="~/images/new-setup/3.mov" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <video width="300" controls muted>
            <source src="~/images/new-setup/2.mov" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <video width="300" controls muted>
            <source src="~/images/new-setup/1.mov" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
</div>