<h4>Please choose a week:</h4>
<select name="weekId" id="weekId">
    <option value="1">Week 1</option>
    <option value="2">Week 2</option>
    <option value="3">Week 3</option>
    <option value="4">Week 4</option>
    <option value="5">Week 5</option>
    <option value="6">Week 6</option>
</select>
<input type="submit" value="Submit" />
