.store-body {
    background: #f2f2f2;
}

.body-content-store {
    background: white;
    min-height: 1000px;
}

.top-image-store {
    height: 20px;
}

@media (max-width: 800px) {
    .body-content-store {
        min-height: 500px;
    }

    .navbar-brand {
        font-size: 15px;
    }

    .top-image-store {
        height: 11px;
    }
}
