
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<h2 class="text-center ymb-yellow-text-and-shadow">YMB Store</h2>

<div class="center-text"><i>*Note: $5 shipping on each article of clothing. Stickers ship free. Located close to the YMB store? <a href="~/Home/Contact">Contact</a> me for local pickup.</i></div>
<div class="row">

    <div class="col-md-3">
        <img src="~/images/storeImages/menjacket.png" alt="men's under armor jacket'" />

    </div>
    <div class="col-md-6">
        <h4 class="clothing-title">YMB Jacket</h4>
        <span class="ymb-yellow-text" style="font-size: xx-large;">$85.<u style="font-size: x-small; vertical-align: super;">00*</u></span>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="2BWJD7XFKJV7U">
            <table>
                <tr><td><input type="hidden" name="on0" value="Size">Size</td></tr>
                <tr>
                    <td>
                        <select name="os0">
                            <option value="Large">Large </option>
                            <option value="X-Large">X-Large </option>
                            <option value="XX-Large">XX-Large </option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

        <p><i>Under Armor Ultimate team jacket. Embroidered YMB logo text on left chest.</i></p>
        <ul>
            <li>Bonded 2-layer softshell material with a warm brushed inner layer</li>
            <li>Moisture Transport System wicks sweat away from the body </li>
            <li>Full zip front with stand collar for extra coverage</li>
            <li>Rolled forward shoulder seams for unrivaled comfort</li>
            <li>Secure zippered hand pockets</li>
            <li>Oversized zippers for extra strength</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <img src="~/images/storeImages/menquarterzip.png" alt="men's under armor jacket'" />
    </div>
    <div class="col-md-6">
        <h4 class="clothing-title">YMB 1/4 Zip - Mens</h4>
        <span class="ymb-yellow-text" style="font-size: xx-large;">$40.<u style="font-size: x-small; vertical-align: super;">00*</u></span>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="HT5JNU575UB2E">
            <table>
                <tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr>
                <tr>
                    <td>
                        <select name="os0">
                            <option value="Large">Large </option>
                            <option value="X-Large">X-Large </option>
                            <option value="XX-Large">XX-Large </option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

        <p><i>Under Armor Ultimate team jacket. Embroidered YMB logo text on left chest.</i></p>
        <ul>
            <li>UA Tech fabric has an ultra-soft, more natural feel for unrivaled comfort</li>
            <li>Signature Moisture Transport System wicks sweat away from the body</li>
            <li>Lightweight stretch construction improves mobility for full range of motion</li>
            <li>Anti-microbial technology keeps your gear fresher, longer</li>
            <li>1/4 zip front with stand collar</li>
            <li>Raglan sleeves for enhanced range of motion</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <img src="~/images/storeImages/womenquarterzip.png" alt="men's under armor jacket'" />
    </div>
    <div class="col-md-6">
        <h4>YMB 1/4 Zip - Womans</h4>
        <span class="ymb-yellow-text" style="font-size: xx-large;">$40.<u style="font-size: x-small; vertical-align: super;">00*</u></span>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="U63YF3CS6LKEC">
            <table>
                <tr><td><input type="hidden" name="on0" value="Size">Size</td></tr>
                <tr>
                    <td>
                        <select name="os0">
                            <option value="Small">Small </option>
                            <option value="Medium">Medium </option>
                            <option value="Large">Large </option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        <p><i>Charles River Apparel Fusion Pullover 1/4 zip. Embroidered YMB logo text on left chest.</i></p>
        <ul>
            <li>TopShield moisture management treatment technology</li>
            <li>Quarter zip pullover with stand-collar and chin guard</li>
            <li>Contrast zipper, inside collar, chin guard and cover stitch</li>
            <li>Dropped tail hem for added coverage</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <img src="~/images/storeImages/LongSleevefront.png" alt="Mens long sleeve front" class="clothing-img" />
    </div>
    <div class="col-sm-2">
        <img src="~/images/storeImages/LongSleeveBack.png" alt="Mens long sleeve back" class="clothing-img" />
    </div>
    
    <div class="col-md-offset-1 col-md-6">
        <h4>YMB Long Sleeve</h4>
        <span class="ymb-yellow-text" style="font-size: xx-large;">$25.<u style="font-size: x-small; vertical-align: super;">00*</u></span>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="E3LBJ5D3J42DU">
            <table>
                <tr><td><input type="hidden" name="on0" value="Size">Size</td></tr>
                <tr>
                    <td>
                        <select name="os0">
                            <option value="Small">Small </option>
                            <option value="Large">Large </option>
                            <option value="X-Large">X-Large </option>
                            <option value="XX-Large">XX-Large </option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

        <p><i>Comfort Colors men's long sleeve shirt. Screen printed YMB logo text on left chest and extra large paw print on back</i></p>
        <ul>
            <li>Heavy 6.1 oz. 100% pre-shrunk, ringspun pigment-dyed cotten</li>
            <li>Double-needle stitched for durability</li>
            <li>Soft and comfortable fabric</li>
            <li>Died with eco-friendly pigment colors</li>
            <li>Pigment colors give a "broken in" look</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <img src="~/images/storeImages/ovalSticker.png" alt="Oval YMB sticker" />
    </div>
    <div class="col-md-6">
        <h4>YMB Bumper Sticker</h4>
        <span class="ymb-yellow-text" style="font-size: xx-large;">$2.<u style="font-size: x-small; vertical-align: super;">00</u></span>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="87HP789R8JETC">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        <p><i>Die cut oval bumper sticker. Yellow Mutt Brewery text logo</i></p>
        <ul>
            <li>5" x 3" (W x H)</li>
            <li>Vinyl stickers precisely cut to design</li>
            <li>UV laminate protects against water, sun, and rain!</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="~/images/storeImages/pawPrintSticker.png" alt="Oval YMB sticker"  class="clothing-img" />
    </div>
    <div class="col-md-6">
        <h4>YMB Paw Sticker</h4>
        <span class="ymb-yellow-text" style="font-size: xx-large;">$1.<u style="font-size: x-small; vertical-align: super;">00</u></span>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="CK2HQT6NZHTJS">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

        <p><i>Die cut YMB paw print sticker</i></p>
        <ul>
            <li>3" x 2.8" (W x H)</li>
            <li>Vinyl stickers precisely cut to design</li>
            <li>UV laminate protects against water, sun, and rain!</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="~/images/storeImages/ovalStickerSmall.png" alt="Oval YMB sticker" class="clothing-img" />
    </div>
    <div class="col-md-6">
        <h4>YMB Oval Sticker</h4>
        <span class="ymb-yellow-text" style="font-size: xx-large;">$1.<u style="font-size: x-small; vertical-align: super;">00</u></span>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="YUSSNDZQEBATJ">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        <p><i>Same as the bumper sticker but smaller</i></p>
        <ul>
            <li>3" x 1.8" (W x H)</li>
            <li>Vinyl stickers precisely cut to design</li>
            <li>UV laminate protects against water, sun, and rain!</li>
        </ul>
    </div>
</div>