@using Microsoft.AspNet.Identity;
@using YMB.Extensions;
@{
    ViewBag.Title = "GenerateUserScores";
}

<h2 class="center-text ymb-yellow-text-and-shadow">Generate User Scores</h2>&laquo;@Html.ActionLink("Back to Admin", "Index", "Admin")

    <form method="post" action="~/FootballPool/GenerateUserScores">
    <h4>Please choose a week:</h4>
    <select name="weekId" id="weekId">
        <option value="1">Week 1</option>
        <option value="2">Week 3</option>
        <option value="4">Week 4</option>
    </select>
    <input type="submit" value="Generate Scores" />
</form>

<script type="text/javascript">
$(document).ready(function () {
    setWeekDropDown();
});

function setWeekDropDown() {
    var weekValue = 4;
   $("#weekId option[value="+ weekValue +"]").prop('selected', true);
}

</script>