@using Microsoft.AspNet.Identity;
@using YMB.Extensions;
@model YMB.Models.FootballPoolViewModel
@{
    ViewBag.Title = "Mydashboard";
    var userName = User.Identity.GetUserName();
    var userRealName = User.Identity.GetUserFirstName();
    var simpleUserId = User.Identity.GetSimpleUserId();
    var userId = User.Identity.GetUserId();
}
<h2 class="center-text ymb-yellow-text-and-shadow">My Dashboard</h2>
<script type="text/javascript">
    $(document).ready(function () {
        //var windowHeight = $(document).height();
        //$(".body-content").css("height", windowHeight);
    });
    function loadPage(pageId) {
        switch (pageId) {
            case 1:
                window.location = "Leaderboard";
                break;
            case 2:
                window.location.href = "weeklyschedule";
                break;
            case 3:
                window.location.href = "AccountProfile";
                break;
            case 4:
                window.location.href = "ViewPicks";
                break;
            case 5:
                window.location.href = ".";
                break;
            default:
                alert('default');
        }
    }
</script>
<div class="mobile center-text">
    <div class="football-pool-dashboard-button-div">
        <input type="button" value="Pool Info & Rules" class="football-pool-dashboard-button" onclick="javascript: loadPage(5);" />
        <input type="button" value="Leader Board" class="football-pool-dashboard-button" onclick="javascript: loadPage(1);"/>
        <input type="button" value="Submit & View Picks" class="football-pool-dashboard-button" onclick="javascript: loadPage(2);" />
        <input type="button" value="My Account" class="football-pool-dashboard-button" onclick="javascript: loadPage(3);" />
        @*<input type="button" value="View Picks" class="football-pool-dashboard-button" onclick="javascript: loadPage(4);" />*@
    </div>
</div>
<div class="pc">
    <div class="row">
        <div class="col-md-3 center-text">
            <input type="button" value="Pool Info & Rules" class="football-pool-dashboard-button" onclick="javascript: loadPage(5);" />
        </div>
        <div class="col-md-3 center-text">
            <input type="button" value="Leader Board" class="football-pool-dashboard-button" onclick="javascript: loadPage(1);" />
        </div>
        <div class="col-md-3 center-text">
            <input type="button" value="Submit & View Picks" class="football-pool-dashboard-button" onclick="javascript: loadPage(2);" />
        </div>

        <div class="col-md-3 center-text">
            <input type="button" value="My Account" class="football-pool-dashboard-button" onclick="javascript: loadPage(3);" />
        </div>
        @*<div class="col-md-3 center-text">
            <input type="button" value="View Picks" class="football-pool-dashboard-button" onclick="javascript: loadPage(4);" />
        </div>*@
    </div>
</div>