<h2 class="text-center ymb-yellow-text-and-shadow w3-lobster">About</h2>
<p>Yellow Mutt Brewery is currently vetting out various locations ranging in 3,000 to 5,000 sq. ft. of space that will be both the brewhouse and taproom.</p>