
@{
    ViewBag.Title = "YMB Beers";
}

<h2 class="page-title">Yellow Mutt Brewery Beers</h2>


<div class="row">
    <div class="col-md-2">
        <img src="~/images/landlord_stout.jpg" class="beer-img img-thumbnail" />    
    </div>
    <div class="col-md-7">
        <h2>Landlord Stout</h2>
        <p>
            Details about landlord stout coming soon!
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-2">
        <img src="~/images/coming-soon.jpg" class="beer-img img-thumbnail" />
    </div>
    <div class="col-md-7">
        <h2>From Russia With Love</h2>
        <p>
            Details about RIS coming soon!
        </p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-2">
        <img src="~/images/coming-soon.jpg" class="beer-img img-thumbnail" />
    </div>
    <div class="col-md-7">
        <h2>Hop Hop Hooray</h2>
        <p>
            Details about IPA coming soon!
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-2">
        <img src="~/images/coming-soon.jpg" class="beer-img img-thumbnail" />
    </div>
    <div class="col-md-7">
        <h2>Belgian Tripel</h2>
        <p>
            Details about our Bel. Tripel coming soon!
        </p>
    </div>
</div>

