@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<div class="top-logo-div">
        <img src="~/images/CircleLogoWithBlackTextandYellowPawClearBackground.svg" alt="logo" class="top-logo-img"/>
    </div>*@
    <div class="row">
       @Html.Partial("_ImageSlider")
    </div>
</div>