@model YMB.Models.HomeModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
@*<div class="container">
    <div id="about">
        @Html.Partial("_About")
    </div>
    <br />
    <div id="beers">
        @Html.Partial("_Beers")
    </div>
    <br />
    <div class="store_container">
        <div id="store">
            @Html.Partial("_Store")
        </div>
    </div>
</div>*@