@{
    ViewBag.Title = "Home Page";

}
<div class="jumbotron">
    @*<div class="top-logo-div">
            <img src="~/images/CircleLogoWithBlackTextandYellowPawClearBackground.svg" alt="logo" class="top-logo-img"/>
        </div>*@
    <div class="text-center top-quote ymb-yellow-text-and-shadow">Live to Drink Exceptional Beer</div>
    <div class="row">
        @Html.Partial("_ImageSlider")
    </div>
</div>
<div>
    <h2 class="center-text ymb-yellow-text">News</h2>
</div>
<div class="row">
    <div class="col-md-3">
        <h3 class="center-text ymb-yellow-text-and-shadow">2016 Yellow Mutt Brewery Pick'em NFL Football Pool</h3>
        <p id="footballRegisterLink">@Html.ActionLink("Click", "Index", "FootballPool") for more details and to sign up!</p>
    </div>
    <div class="col-md-3">
        <input type="button" onclick="javascript:showRequestForm(1);" value="Request a free sticker today!" class="button-sticker-request ymb-yellow-text-and-shadow" /><br />
        <div>
            <img src="~/images/stickers/HiResYellowPayInitialsInPaw2_background.jpg" alt="sticker" class="sticker-img" />
        </div>
    </div>
    <div class="col-md-3">
        <h2 class="text-center"><a href="http://foam.brewcompetition.com/" target="_blank">2<sup>nd</sup> Annual Nashua River Brewers Festival Homebrew Competition</a></h2>
        <h5 class="text-center">June 2016</h5>
        <h4 class="arual text-center">Awards</h4>
        <h6>Dark British Beer (BJCP Cat. 16) - 10 entires</h6>
        <div>
            <img alt="gold-medal" src="~/images/medals/medal_gold.png" class="medal-img" />
            <span>1<sup>st</sup> Landlord Sweet Milk Stout - 16A: Sweet Stout</span>
        </div>
    </div>
    <div class="col-md-3">
        <h2 class="text-center"><a href="http://mvhbc.com/competition/" target="_blank">Merrimack Valley Homebrew Competition</a></h2>
        <h5 class="text-center">Judging July 9<sup>th</sup> 2016</h5>
        <h4 class="arual text-center">Awards</h4>
        <h6>British Brown, Porter, & Stout Cateogry</h6>
        <div>
            <span>HM - Landlord Sweet Milk Stout - 16A: Sweet Stout</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2 class="text-center"><a href="http://bhc.wort.org/" target="_blank">21<sup>st</sup> Annual Boston Homebrew Competition</a> </h2>
        <h5 class="text-center">May 2016</h5>
        <h4 class="arual text-center">Awards</h4>
        <h6>Best of Show - 326 entries</h6>
        <div>
            <img alt="silver-medal" src="~/images/medals/medal_silver.png" class="medal-img" />
            <span>2<sup>nd</sup> From Russia with Love - Russian Imperial Stout</span>
        </div>
        <h6>Smoked/Wood Beer (BJCP Cat. 32,33) - 12 entires</h6>
        <div>
            <img alt="silver-medal" src="~/images/medals/medal_gold.png" class="medal-img" />
            <span>1<sup>st</sup> From Russia with Love - 33A: Wood-Aged Beer</span>
        </div>
        <h6>Dark British Beer (BJCP Cat. 16) - 12 entires</h6>
        <div>
            <img alt="silver-medal" src="~/images/medals/medal_gold.png" class="medal-img" />
            <span>1<sup>st</sup> Landlord Sweet Milk Stout - 16A: Sweet Stout</span>
        </div>
    </div>
    <div class="col-md-3">
        <h2 class="text-center"><a href="http://ssbc.brewcompetition.com/" target="_blank">2016 Annual South Shore Brewoff</a></h2>
        <h5 class="text-center">April 2016</h5>
        <h4 class="arual text-center">Awards</h4>
        <h6>Dark British Beer (BJCP Cat. 16) - 9 entires</h6>
        <div>
            <img alt="silver-medal" src="~/images/medals/medal_gold.png" class="medal-img" />
            <span>1<sup>st</sup> Landlord Sweet Milk Stout - 16A: Sweet Stout</span>
        </div>
    </div>
    <div class="col-md-3">
        <h2 class="text-center"><a href="http://bob.beerbrew.com/" target="_blank">Best of Boston Homebrew Competition</a></h2>
        <h5 class="text-center">November 2015</h5>
        <h4 class="arual text-center">Awards</h4>
        <h6>Stouts (BJCP Cat. 16) - 8 entires</h6>
        <div>
            <img alt="silver-medal" src="~/images/medals/medal_silver.png" class="medal-img" />
            <span>2<sup>nd</sup> Landlord Sweet Milk Stout - 16A: Sweet Stout</span>
        </div>
    </div>
    <div class="col-md-3">
        <h2 class="text-center"><a href="http://bhc.wort.org/" target="_blank">20<sup>th</sup> Annual Boston Homebrew Competition</a></h2>
        <h5 class="text-center">May 2015</h5>
        <h4 class="arual text-center">Awards</h4>
        <h6>Amber and Brown American Beer (BJCP Cat. 19) - 6 entires</h6>
        <div>
            <img alt="silver-medal" src="~/images/medals/medal_bronze.png" class="medal-img" />
            <span>3<sup>rd</sup> YMB Cali Common - 19B: California Common</span>
        </div>
    </div>
</div>


