@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<div class="top-logo-div">
        <img src="~/images/CircleLogoWithBlackTextandYellowPawClearBackground.svg" alt="logo" class="top-logo-img"/>
    </div>*@
    <div class="row">
       @Html.Partial("_ImageSlider")
    </div>
</div>
<div class="row beer-comp-divs">
    <div class="col-md-5 col-md-offset-1">
        <p>Here Comes Content</p>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <p>Here Comes Content</p>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <p>Here Comes Content</p>
    </div>
</div>
<div class="row beer-comp-divs">
    <div class="col-md-3">
        <p>Here Comes Content</p>
    </div>
    <div class="col-md-3">
        <p>Here Comes Content</p>
    </div>
    <div class="col-md-3">
        <p>Here Comes Content</p>
    </div>
    <div class="col-md-3">
        <p>Here Comes Content</p>
    </div>
</div>